@model Bomberos.Models.ServicioVario

@{
    ViewData["Title"] = "Details";
    Layout = null;

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<div class="">
    <h4><center>Servicios Varios</center></h4>
    <hr />

    <div class="letra">
        <div class="">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdSv" />
                <div class="form-group col-md-3">
                    <label asp-for="SvEstacion" class="control-label">Estacion</label>
                    <input asp-for="SvEstacionNavigation.Nombre" class="form-control"  readonly  />
                    @*<select asp-for="SvEstacion" class="form-control" asp-items="ViewBag.SvEstacion"></select>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvTurno" class="control-label">Turno</label>
                    <input asp-for="SvTurnoNavigation.Nombre" class="form-control"  readonly  />
                    @*<select asp-for="SvTurno" class="form-control" asp-items="ViewBag.SvTurno"></select>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvFecha" class="control-label">Fecha</label>
                    <input asp-for="SvFecha" class="form-control"   readonly  />
                    @*<span asp-validation-for="SvFecha" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvDireccion" class="control-label">Dirección</label>
                    <input asp-for="SvDireccion" class="form-control"   readonly  />
                    @*<span asp-validation-for="SvDireccion" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvServicio" class="control-label">Servicio</label>
                    <input asp-for="SvServicio" class="form-control"   readonly  />
                    @*<span asp-validation-for="SvServicio" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvHoraSalida" class="control-label">Hora de Salida</label>
                    <input asp-for="SvHoraSalida" class="form-control"   readonly  />
                    @*<span asp-validation-for="SvHoraSalida" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvHoraEntrada" class="control-label">Hora de Entrada</label>
                    <input asp-for="SvHoraEntrada" class="form-control"   readonly  />
                    @*<span asp-validation-for="SvHoraEntrada" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvJefeServicio" class="control-label">Jefe de Servicio: </label>
                    <input asp-for="SvJefeServicioNavigation.Nombres" class="form-control"  readonly  />
                    @*<select asp-for="SvJefeServicio" class="form-control" asp-items="ViewBag.SvJefeServicio"></select>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvTelefonistaTurno" class="control-label">Telefonista de Turno</label>
                    <input asp-for="SvTelefonistaTurnoNavigation.Nombres" class="form-control"  readonly  />
                    @*<select asp-for="SvTelefonistaTurno" class="form-control" asp-items="ViewBag.SvTelefonistaTurno"></select>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvBomberoReporta" class="control-label">Bombero que Reporta</label>
                    <input asp-for="SvBomberoReportaNavigation.Nombres" class="form-control"  readonly  />
                   @* <select asp-for="SvBomberoReporta" class="form-control" asp-items="ViewBag.SvBomberoReporta"></select>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvUnidad" class="control-label">Unidad</label>
                    <input asp-for="SvUnidad" class="form-control" readonly/>
                    @*<span asp-validation-for="SvUnidad" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvPiloto" class="control-label">Piloto</label>
                    <input asp-for="SvPilotoNavigation.Nombres" class="form-control"  readonly  />
                    @*<select asp-for="SvPiloto" class="form-control" asp-items="ViewBag.SvPiloto"></select>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvServicioAutPor" class="control-label">Servicio de Auto</label>
                    <input asp-for="SvServicioAutPorNavigation.Nombres" class="form-control"  readonly  />
                    @*<select asp-for="SvServicioAutPor" class="form-control" asp-items="ViewBag.SvServicioAutPor"></select>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvPersonalAsistente" class="control-label">Personal Asistente</label>
                    <input asp-for="SvPersonalAsistenteNavigation.Nombres" class="form-control"  readonly  />
                    @*<select asp-for="SvPersonalAsistente" class="form-control" asp-items="ViewBag.SvPersonalAsistente"></select>
                    <span asp-validation-for="SvPersonalAsistente" class="text-danger"></span>*@
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="SvKmEntrada" class="control-label">Entrada</label>
                    <input asp-for="SvKmEntrada" class="form-control" readonly/>
                    @*<span asp-validation-for="SvKmEntrada" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvKmSalida" class="control-label">Salida</label>
                    <input asp-for="SvKmSalida" class="form-control" readonly/>
                    @*<span asp-validation-for="SvKmSalida" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvKmRecorrido" class="control-label">Recorrido</label>
                    <input asp-for="SvKmRecorrido" class="form-control" readonly/>
                    @*<span asp-validation-for="SvKmRecorrido" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvNoBombero" class="control-label">No. de Bombero</label>
                    <input asp-for="SvNoBombero" class="form-control" readonly/>
                    @*<span asp-validation-for="SvNoBombero" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Codigo" class="control-label">Codigo del Sinistro:</label>
                    <input asp-for="CodigoNavigation.Codigo1" class="form-control"  readonly  />
                    @*<select asp-for="Codigo" class="form-control" asp-items="ViewBag.Uuid"></select>*@
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="SvObservacion" class="control-label">Observación</label>
                    <textarea asp-for="SvObservacion" class="form-control" style="height:150px" readonly></textarea>
                    @*<span asp-validation-for="SvObservacion" class="text-danger"></span>*@
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SvFirmaBombero" class="control-label">Firma de Bombero</label>
                    <img height="100" width=" 100" src="@Url.Action("convert","Firmas",new { id = @Model.SvFirmaBomberoNavigation.IdFirma })"   />
@*
                    <select asp-for="SvFirmaBombero" class="form-control" asp-items="ViewBag.SvFirmaBombero"></select>
                    <span asp-validation-for="SvFirmaBombero" class="text-danger"></span>*@
                </div>
              
            </form>
        </div>
    </div>
   
