@model Bomberos.Models.ClaseFuego

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Codigo de Clase de Fuego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.CfClasefuego)*@
           Codigo de la Clase de Fuego
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CfClasefuego)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCf">Editar</a> |
    <a asp-action="Index">Regresar al Listado</a>
</div>
