@model IEnumerable<Bomberos.Models.ClaseFuego>

@{
    ViewData["Title"] = "Index";
}

<h1>Clases de Fuego</h1>

<p>
    <a asp-action="Create">Crear Nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.CfClasefuego)*@
                Codigo de la Clase de Fuego
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CfClasefuego)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCf">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCf">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCf">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
