@model IEnumerable<Bomberos.Models.ClaseFuego>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1><center>Clases de Fuego</center></h1>
<br>

<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
    </p>
    <h3>Crear un Nuevo Tipo de Fuego</h3>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.CfClasefuego)*@
                Codigo de la Clase de Fuego
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CfClasefuego)
            </td>
                <td>
                    <center>
                        <a asp-action="Edit" asp-route-id="@item.IdCf"><img src="~/img/editar.png" width="40" height="40" /> </a>
                    </center>
                <td>
                    <center>
                        <a asp-action="Details" asp-route-id="@item.IdCf"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-action="Delete" asp-route-id="@item.IdCf"><img src="~/img/basura.png" width="40" height="40" /> </a>
                    </center>
                </td>
        </tr>
}
    </tbody>
</table>
