<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]- Bomberos </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fondosymejoras.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-White" asp-area="" asp-controller="Home" asp-action="Index">Bomberos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                        
                        
                     
                        <li>
                            <div class="dropdown1">
                                <button class="dropbtn text-White">
                                    Catalogos
                                    <i class="fa fa-caret-down">
                                        </i>
                                      
                                </button>
                                
                                        <div class="dropdown1-content">
                                            <a class="nav-link text-White" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                            <a class="nav-link text-White" asp-area="" asp-controller="Codigoes" asp-action="Index">Codigos de Servicio</a>
                                      
                                            <a class="nav-link text-White" asp-area="" asp-controller="Firmas" asp-action="Index">Firmas</a>
                                    
                                            <a class="nav-link text-White" asp-area="" asp-controller="Personals" asp-action="Index">Personal</a>
                                       
                                            <a class="nav-link text-White" asp-area="" asp-controller="Turnoes" asp-action="Index">Turnos AM/PM</a>

                                        <a class="nav-link text-White" asp-area="" asp-controller="Estacions" asp-action="Index">Estaciones</a>
                                        <a class="nav-link text-White" asp-area="" asp-controller="Compañium" asp-action="Index">Compañia</a>
                                            <a class="nav-link text-White" asp-area="" asp-controller="Proporcions" asp-action="Index">Proporcion</a>
                                        <a class="nav-link text-White" asp-area="" asp-controller="ClaseFuegoes" asp-action="Index">Clase de Fuego</a>
                                    </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown1">
                                <button class="dropbtn text-White">
                                    Formularios
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown1-content">
                                    <a class="nav-link text-White" asp-area="" asp-controller="ServicioVarios" asp-action="Index">Servicios Varios</a>
                                  <a class="nav-link text-White" asp-area="" asp-controller="ServicioRescates" asp-action="Index">Servicios de Rescates</a>
                                    <a class="nav-link text-White" asp-area="" asp-controller="ServicioPrevencions" asp-action="Index">Servicios de Prevencion</a>
                                    <a class="nav-link text-White" asp-area="" asp-controller="InEstructurals" asp-action="Index">Incendios Estructurales</a>
                                    <a class="nav-link text-White" asp-area="" asp-controller="InForestals" asp-action="Index">Incendios Forestales</a>
                                    <a class="nav-link text-White" asp-area="" asp-controller="InVehiculoes" asp-action="Index">Incendios de Vehiculos</a>
                                </div>
                            </div>
                        </li>



                    </ul>
                    @* agregamos una vista parcial donde se valida que el suaurio este autentificado  *@

                    <div class="logout">
                    <partial name="_LoginPartial" />
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer ">
        <div class="container">
            &copy; 2022 - Bomberos 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
