@model Bomberos.Models.InEstructural

@{
    ViewData["Title"] = "Crear Formulario";
}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <div class="orden">
 <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
 </div>

<h1><center>Crear Formulario</center></h1>
<h4><center>Incendio Estructural</center></h4>
<hr />
<div class="">
    <div class="">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-md-3">
                <label asp-for="IeEstacion" class="control-label">Estación:</label>
                <select asp-for="IeEstacion" class="form-control" asp-items="ViewBag.IeEstacion"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeTurno" class="control-label">Turno:</label>
                <select asp-for="IeTurno" class="form-control" asp-items="ViewBag.IeTurno"></select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="IeUbiSiniestro" class="control-label">Ubicación del Siniestro:</label>
                <input asp-for="IeUbiSiniestro" class="form-control" />
                <span asp-validation-for="IeUbiSiniestro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeInmueble" class="control-label">Inmueble:</label>
                <input asp-for="IeInmueble" class="form-control" />
                <span asp-validation-for="IeInmueble" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeValor" class="control-label">Valor:</label>
                <input asp-for="IeValor" class="form-control" />
                <span asp-validation-for="IeValor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IePerdida" class="control-label">Pérdida:</label>
                <input asp-for="IePerdida" class="form-control" />
                <span asp-validation-for="IePerdida" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IdProp" class="control-label">Proporción:</label>
                <select asp-for="IdProp" class="form-control" asp-items="ViewBag.IdProp"></select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="IeIdCf" class="control-label">Clase de Fuego:</label>
                <select asp-for="IeIdCf" class="form-control" asp-items="ViewBag.IeIdCf"></select>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="IeHoraSalida" class="control-label">Hora de Salida:</label>
                <input asp-for="IeHoraSalida" class="form-control" />
                <span asp-validation-for="IeHoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="IeHoraServicio" class="control-label">Hora Efectiva de Servicio:</label>
                <input asp-for="IeHoraServicio" class="form-control" />
                <span asp-validation-for="IeHoraServicio" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="IeHoraEntrada" class="control-label">Hora de Entrada:</label>
                <input asp-for="IeHoraEntrada" class="form-control" />
                <span asp-validation-for="IeHoraEntrada" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeJefeServicio" class="control-label">Jefe de Servicio:</label>
                <select asp-for="IeJefeServicio" class="form-control" asp-items="ViewBag.IeJefeServicio"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeTelefonistaTurno" class="control-label">Telefonista de Turno:</label>
                <select asp-for="IeTelefonistaTurno" class="form-control" asp-items="ViewBag.IeTelefonistaTurno"></select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="IeBomberoReporta" class="control-label">Bombero que Reporta:</label>
                <select asp-for="IeBomberoReporta" class="form-control" asp-items="ViewBag.IeBomberoReporta"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IePiloto" class="control-label">Piloto:</label>
                <select asp-for="IePiloto" class="form-control" asp-items="ViewBag.IePiloto"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeUnidad" class="control-label">Unidad:</label>
                <input asp-for="IeUnidad" class="form-control" />
                <span asp-validation-for="IeUnidad" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeUniAsisEstacion" class="control-label">Otras Unidades Asistentes de la Estación:</label>
                <input asp-for="IeUniAsisEstacion" class="form-control" />
                <span asp-validation-for="IeUniAsisEstacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeUniAsisOtraEstacion" class="control-label">Unidades Asistentes de Otras Estaciones:</label>
                <input asp-for="IeUniAsisOtraEstacion" class="form-control" />
                <span asp-validation-for="IeUniAsisOtraEstacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeUniPoliciacas" class="control-label">Unidades Policiacas:</label>
                <input asp-for="IeUniPoliciacas" class="form-control" />
                <span asp-validation-for="IeUniPoliciacas" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeUniOtrasInstiBomberiles" class="control-label">Unidades de Otras Instituciones Bomberiles:</label>
                <input asp-for="IeUniOtrasInstiBomberiles" class="form-control" />
                <span asp-validation-for="IeUniOtrasInstiBomberiles" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IePersonalAsisEstacion" class="control-label">Personal Asistente de la Estación:</label>
                <input asp-for="IePersonalAsisEstacion" class="form-control" />
                <span asp-validation-for="IePersonalAsisEstacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IePersonalAsisOtraEstacion" class="control-label">Personal Asistente de Otras Estaciones:</label>
                <input asp-for="IePersonalAsisOtraEstacion" class="form-control" />
                <span asp-validation-for="IePersonalAsisOtraEstacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="IeObservacion" class="control-label">Observaciones:</label>
                <textarea asp-for="IeObservacion" class="form-control" style="height:150px"></textarea>
                <span asp-validation-for="IeObservacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeFecha" class="control-label">Fecha:</label>
                <input asp-for="IeFecha" class="form-control" />
                <span asp-validation-for="IeFecha" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeKmEntrada" class="control-label">Kilometraje de Entrada:</label>
                <input asp-for="IeKmEntrada" class="form-control" />
                <span asp-validation-for="IeKmEntrada" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeKmSalida" class="control-label">Kilometraje de Salida:</label>
                <input asp-for="IeKmSalida" class="form-control" />
                <span asp-validation-for="IeKmSalida" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeKmRecorrido" class="control-label">Kilometros Recorridos:</label>
                <input asp-for="IeKmRecorrido" class="form-control" />
                <span asp-validation-for="IeKmRecorrido" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeFirmaBombero" class="control-label">Firma de Bombero</label>
                <select asp-for="IeFirmaBombero" class="form-control" asp-items="ViewBag.IeFirmaBombero"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeNoBombero" class="control-label">No. Bombero:</label>
                <input asp-for="IeNoBombero" class="form-control" />
                <span asp-validation-for="IeNoBombero" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="IeVoBoJefeServicio" class="control-label">Vo. Bo. Jefe de Servicio:</label>
                <select asp-for="IeVoBoJefeServicio" class="form-control" asp-items="ViewBag.IeVoBoJefeServicio"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Codigo" class="control-label">Codigo del Sinistro:</label>
                <select asp-for="Codigo" class="form-control" asp-items="ViewBag.Uuid"></select>
            </div>
            <div class="form-group col-md-6">                   
                <input type="submit" value="Crear" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
