@model Bomberos.Models.Proporcion

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Proporciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProp" />
            <div class="form-group">
                <label asp-for="PTipoProp" class="control-label">Nombre Proporción</label>
                <input asp-for="PTipoProp" class="form-control" />
                <span asp-validation-for="PTipoProp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
